# Keil
*.uvmpw
*.uvmpw.*
*.uvguix.*
uv4.log.lock
mdk/.vscode
Simulator

# Node.js
node_modules

# Windows
System\ Volume\ Information

# Misc
*.pbi
*.xcl
*.dep
*.ps1
*.cspy.bat
*.out
*.map
*.o
*.wsdt
*.pbd
*.linf
*.pbw
*.browse
*.crun
*.dbgdt
*.lst
*.crf
*.d
*.axf
*.htm
*.lnp
*.__i
*._ia
*.sim
*JLinkLog.txt
*.tmp
*.tmp.*
*.log
*.xml
*.iml
*.7z
*.sfd
*.SFR

# VS Code

