*.uvmpw
*.uvmpw.*
uv4.log.lock

node_modules

System\ Volume\ Information

*.pbi
*.xcl
*.dep
*.ps1
*.cspy.bat
*.out
*.map
*.o
*.wsdt
*.pbd
*.linf
*.pbw
*.browse
*.crun
*.dbgdt
*.uvguix.*
*.lst
*.crf
*.d
*.axf
*.htm
*.lnp
*.__i
*._ia
*.sim
*JLinkLog.txt
*.tmp
*.log
*.xml
*.iml
# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.vscode/c_cpp_properties.json
