# Keil
*.uvmpw
*.uvmpw.*
*.uvguix.*
uv4.log.lock

# Node.js
node_modules

# Windows
System\ Volume\ Information

# Misc
*.pbi
*.xcl
*.dep
*.ps1
*.cspy.bat
*.out
*.map
*.o
*.wsdt
*.pbd
*.linf
*.pbw
*.browse
*.crun
*.dbgdt
*.lst
*.crf
*.d
*.axf
*.htm
*.lnp
*.__i
*._ia
*.sim
*JLinkLog.txt
*.tmp
*.tmp.*
*.log
*.xml
*.iml

# VS Code
.vscode/c_cpp_properties.json
